@page "/friends"

<div class="main">
    <div class="sidebar left-sidebar">
        <SideNavBar />
    </div>

    <div class="main-content">
        <h2>Friends page</h2>
    </div>

    @*<div class="sidebar right-sidebar hidden">
        aaaa
    </div>*@
</div>

@code {

}
