@page "/"

<h1>Hello, world!</h1>

@if (posts == null)
{
    <p>No posts found</p>
} else
{
    @foreach (var post in posts)
    {
        <div>
            <PostComponent Post="@post"/>
        </div>    
    }
}

@inject IPostsService _postsService

@code {
    private List<PostViewModel>? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await _postsService.GetAllPosts();
    }
}