@page "/"

@if (Posts!.Count() <= 0)
{
    <p>No posts found</p>
}
else
{
    <div class="posts-wrapper">
        @foreach (var post in Posts!)
        {
            <PostComponent Post="@post" />
        }
    </div>
}

@inject IPostsService _postsService

@code {
    private List<PostViewModel>? Posts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Posts = new();
        await LoadAllPosts();
    }

    private async Task LoadAllPosts()
    {
        var posts = _postsService.GetAllPosts();

        await foreach (var post in posts)
        {
            Posts.Add(post);
            StateHasChanged();
        }
    }
}