@page "/"

<div class="main">
    <div class="sidebar left-sidebar">
        <SideNavBar/>
    </div>

    <div class="main-content">
        @if (posts == null)
        {
            <p>No posts found</p>
        }
        else
        {
            <div class="posts-wrapper">
                @foreach (var post in posts)
                {
                    <PostComponent Post="@post" />
                }
            </div>
        }
    </div>

    <div class="sidebar right-sidebar hidden">
        aaaa
    </div>
</div>


@inject IPostsService _postsService

@code {
    private List<PostViewModel>? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await _postsService.GetAllPosts();
    }
}