@inject HttpClient Http

@page "/"

<PageTitle>Index</PageTitle>

@if (posts == null)
{
    <p>No posts found.</p>
}
else
{
    @foreach(var post in posts)
    {
        <PostComponent post="post"/>
    }
}

@code {
    private Post[]? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await Http.GetFromJsonAsync<Post[]>("https://localhost:7251/Post/GetPosts");
    }
}