@page "/my-profile"

<div class="main">
    <div class="sidebar left-sidebar">
        <SideNavBar />
    </div>

    <div class="main-content">
        <h2>My profile page</h2>
    </div>

    @*<div class="sidebar right-sidebar hidden">
    aaaa
    </div>*@
</div>

@code {

}
