@page "/new-post"
@attribute [Authorize]

<h3>NewPostPage</h3>

<EditForm EditContext="@_editContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>

    @if (!String.IsNullOrEmpty(_errorMessage))
    {
        <div>
            <p>@_errorMessage</p>
        </div>
    }

    <div>
        <InputTextArea @bind-Value="Model!.Content" />
        <ValidationMessage For="@(() => Model.Content)" />
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>

@inject IPostsService _postsService
@inject IAuthenticationService _authenticationService
@inject NavigationManager _navigationManager;

@code {
    private EditContext? _editContext;
    public PostCreateDTO? Model { get; set; }
    private string _errorMessage;

    protected override async Task OnInitializedAsync()
    {
        Model ??= new();
        _editContext = new(Model);
        if (_authenticationService.User != null)
            Model.UserId = _authenticationService.User.Id;
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            await _postsService.CreatePost(Model);
            _navigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
        }
    }
}
