<div class="tabs-wrapper">
    <NavLink Match="NavLinkMatch.All" ActiveClass="tab-active" href="/my-profile"
    class="tab">
        My Profile</NavLink>
    <NavLink Match="NavLinkMatch.All" ActiveClass="tab-active" href="/friends"
             class="tab">
        Friends
    </NavLink>
    <NavLink Match="NavLinkMatch.All" ActiveClass="tab-active" href="/chat"
             class="tab">
        Chat
    </NavLink>
</div>


@code {

}
