<div class="post-wrapper">
    <div class="post-header">
        <span class="post-title">@@@Post.UserName</span>
        <span class="post-date">@Post.LastModifiedDate</span>
    </div>
    <span class="post-title">@Post.Title</span>
    <p>@Post.Content</p>
</div>

@code {
    [Parameter]
    public PostViewModel Post { get; set; }
}
