<div class="post-wrapper">
    <div class="post-header">
        <span class="post-title">@Post.Title</span>
        <span class="post-date">@Post.LastModifiedDate</span>
    </div>
    <p>@Post.Content</p>
</div>

@code {
    [Parameter]
    public Post Post { get; set; }
}
