.post-wrapper {
    border: 0.1em solid #000000;
    padding: 1em 1em;
    margin-bottom: 1em;
    background-color: #fff;
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-username {
    font-weight: 600;
}

.post-date {
    color: #808080;
}

.post-content {
    margin: 1em 0;
}
